.navbar-brand .navbar {
  align-items: center;
  justify-content: center;
}
.title-div{
  text-align: center;
  border-style: solid;
  height: 60px;
 
}

.h2-grocerylist {
  color: #0862a2;
  margin-top: 8px;
  display: block;
  font-weight: bold;
  font-size: large;
  margin-bottom: 3px;
}

.spn-title {
  margin-top: 0px;
  padding-top: 0px;

}

.btn-div {
  display: inline;
}
.card {
  align-self: center;
  width: 70vh;
 padding: 8px;
}



.spn-chk {
  float: right;
  cursor: pointer;
}

.bi-check2-square {

  height: 12px;
  width: 12px;
}

.spn-del {
  float: right;
  cursor: pointer;
}

.spn-fill{
  float:right;
  cursor: pointer;
}

.h2-title {
  color: aliceblue;

}

.navbar {
  height: 10vh;
  padding: 10px;
  background-color: #0862a2;
}



i {
 font-size: 24px;
}

.strike {
  background: #888;
  color: #fff;
  text-decoration: line-through;

}

.card {
  height: 60vh;
  border-color: #0862a2;
  
}